.text_footer {
  color: #a9a9a9;
  text-align: "center";
  font-family: "Poppins";
  font-size: "14px";
  font-style: "normal";
  font-weight: 500;
  line-height: "normal";
  .link_ {
    font-weight: "bold";
    font-family: "Poppins";

    color: #4f4f4f;
  }
}
