.file-drop-area {
  border-radius: 12px;
  border: 1px dashed #97bef4;
  background: #f6f8fb;
  width: 338px;
  height: 218.903px;
  flex-shrink: 0;

  display: flex;

  justify-content: center;
  align-items: center;
  /* flex-flow: column nowrap; */
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  padding: 15px;
  gap: 35px;
}
.fake-btn {
  width: 101px;
  height: 31.984px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--blue-1, #2f80ed);
  border-style: none;
  color: #fff;
  &:hover {
    background: var(--blue-1, #1975ef);
    cursor: pointer;
  }
}
.file-input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 338px;
  height: 218.903px;
}
